header {
    border-radius: 10px;
    box-shadow: 5px 2px 5px lightgrey;
}

div.header.block > div.header > img {
    padding: 10px;
}

header.raining.night {
    background-image: url("images/water-drops-glass-night.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
header.raining.day {
    background-image: url("images/water-drops-glass-day.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

header.night{
     background-image: url("images/night-sky.jpg"); 
     background-repeat: no-repeat;
     background-size: cover;
}

header.night > div{
    color : white;
}

header.day{
    background-image: url("images/blue-sky.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

body > header > div.header.block > div.header.Humidity > span.humidityIcon { 
    background-image: url("images/drop-48.png"); 
    background-repeat: no-repeat;
    background-size: cover;
}

body > header > div.header.block {
    display: grid;
    grid-template-columns: auto 15% 15% 15% 15% 15% auto;
    justify-content: center;
  align-content: center;
}

span.temperture {
    font-size: 56px;
}

span.warning-title {
    background: rgb(228,131,133);
    border-radius: 3px 0px 0px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px grey;
}

span.warning-title.nowarning{
    border-radius: 3px;
}


header > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div > div >span {
    font-size: 30px;

}

body > header > div.header.block > div.header.LastUpdate >span  {
    font-size: 16px;
}

.header.location {
    padding: 13px;
    font-size: 21px;
}

.header.Warning {
    display: grid;
    grid-template-columns: 10% auto 15%;
    height: 26px;
    padding-top: 10px;
}

span.warning-content {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nineDWFBlock{
    background-color: rgb(237, 239, 246);
    border-radius: 10px;
    box-shadow: 5px 2px 5px lightgrey;
}

.header.title {
    margin: 20px 20px 0px 20px;
}

section, header {
    margin: 20px;
}

.nineDWFBlock > .title {
    padding : 13px;
    font-size: 21px;
}

.nine-days {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    padding: 10px;
}

section > div> div > div.day  > div > img {
    max-width: 60px;
}

.nine-days > .day{
    display: inline-grid;
    align-items: center; 
    justify-items: center;
}
